@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url("img/BG.png"); */
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    background-color: #fff;
    color:rgba(255, 140, 0, 0.918);
    text-align: center;
    padding: 40px;
    font-weight: 500;
    text-transform:uppercase ;
    
    
}

.tailer {
    width: 100%;
    background-color: #fff;
    color:rgba(255, 140, 0, 0.918);
    padding: 10px;
    position: fixed ;
    /* position: relative; */
    bottom: 0 ;

    .MyName {
        position: fixed ;
        display: inline;
        right: 5px ;
        
    }

    .MySchool {
        color:#1f4fa3;
        display: inline;
       
    }

}

.Pic {
    margin: 100px;
    .aboutmePic {
        /* padding-top: 45px; */
        width: 380px;
        height: 340px;
        cursor: pointer;
        transition: 400ms ;
        
    }

    .activePic {
        margin-top: 40px;
        width: 390px;
        height: 350px;
        cursor: pointer;
        transition: 400ms ;
    }
    .sportPic {
        margin-top: 45px;
        width: 370px;
        height: 345px;
        cursor: pointer;
        transition: 400ms ;
        
    }
    .volunteerPic {
        margin-top: 50px;
        width: 370px;
        height: 340px;
        cursor: pointer;
        transition: 400ms ;
    }
    img:hover {
        /* filter: grayscale(1); */
        transform: scale(1.03);
    }
    display: flex;
    justify-content:center;
    align-items: center; 
    flex-wrap: wrap;
    a {
        text-decoration-line: none ;
    }
    .aboutmelabel{
        color:#fff;
        text-align: center;
        font-weight: 700;
        
        padding-top: 30px;
        
    }

    .sportlabel{
        color:#fff;
        text-align: center;
        font-weight: 700;
        
        padding-top: 10px;
        
    }

    .activelabel{
        color:#fff;
        text-align: center;
        font-weight: 700;
       
        
    }

    .volunteerlabel{
        color:#fff;
        text-align: center;
        font-weight: 700;
        
        padding-top: 50px;
        
    }
}


